/* div.div-calendar-box {
    position: absolute;
    background-color: white;
    z-index: 2;
} */

/* div.div-calendar-box div.rlc-calendar {
    width: 285px;
}

div.div-calendar-box div.rlc-calendar div.rlc-date-details {
    display: none;
}

div.div-calendar-box div.rlc-calendar div.rlc-details div.rlc-date-details-wrapper {
    margin: 0;
    text-align: center;
} */

/* div.div-calendar-box div.rlc-calendar div.rlc-details div.rlc-date-time-selects {
    position: absolute;
    right: -6.2em;
} */

/* div.div-calendar-box select {
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} */