div.rdw-editor-toolbar > div:nth-last-child(1)
,div.rdw-editor-toolbar > div:nth-last-child(2) {
  border: 1px solid #dee2e6;
  padding-left: .2em;
  padding-right: .2em;
  padding-bottom: .2em;
  margin-right: .2em;
  margin-bottom: .5em;
}

div.rdw-editor-toolbar > div:hover {
  cursor: pointer;
  background-color: #cce5ff;
}

div.rdw-editor-toolbar > div:nth-last-child(1) {
  color: red;
}
