div.div-menu-right div.public-DraftEditor-content {
    height: 120px;
    max-height: 120px;
    overflow-y: auto;
}

div.div-menu-right div.public-DraftStyleDefault-block {
    margin: .2em;
}

div.div-menu-right div.rdw-colorpicker-modal {
    top: -175px;
    left: -145px;
    padding: .2em;
}

div.div-menu-right div.rdw-link-modal
,div.div-menu-right div.rdw-emoji-modal
,div.div-menu-right div.rdw-embedded-modal
,div.div-menu-right div.rdw-image-modal {
    top: -185px;
    left: -200px;
    padding: .2em;
}

div.div-menu-right div.rdw-link-modal {
    height: 230px;
}

div.div-menu-right ul.rdw-dropdown-optionwrapper {
    max-height: 150px;
}

div.div-chat-box div.rdw-block-wrapper
,div.div-chat-box div.rdw-fontfamily-wrapper
,div.div-chat-box div.rdw-remove-wrapper
,div.div-chat-box div.rdw-history-dropdown {
    display: none;
}