div.div-overlay-box-add-items {
    overflow: auto;
    overflow-x: auto;
    max-height: 460px;
}

button.button-overlay-box-add-items {
    width: .5em;
    height: 2em;
}

button.button-overlay-box-add-items > svg {
    margin-top: -.7em;
    margin-left: -.5em;
}