button.btn-submit-form-hidden {
    display: none;
}

button.btn-create-div {
    position: absolute;
    right: 4.5em;
}

button.btn-create-tab {
    position: absolute;
    right: .5em;
}

/* div.div-customize-box < nav:hover {
    background: #80808026;
} */

div.div-customize-box > div {
    border: 1px solid #dee2e6;
    border-radius: .5em;
}

div.div-customize-box > div.selected {
    border-color: red;
}

div.div-customize-box > div.div-box-25 {
    width: 25%;
    float: left;
}

div.div-customize-box > div.div-box-33 {
    width: 33.3%;
    float: left;
}

div.div-customize-box > div.div-box-50 {
    width: 50%;
    float: left;
}

div.div-customize-box > div.div-box-75 {
    width: 75%;
    float: left;
}

div.div-customize-box > div.div-box-100 {
    width: 100%;
    display: inline-block;
}

div.div-overlay-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

div.div-overlay-box > div:first-child {
    /* border: 5px solid #dee2e6;
    border-radius: 1em; */
    width: 40%;
    max-width: 40%;
    top: 10%;
    left: 30%;
    padding: .5em;
    display: inline-table;
    position: absolute;
}

div.div-overlay-box > div:first-child h4 {
    text-align: left;
}

div.div-overlay-box > div:first-child button {
    margin: .2em;
}

div.div-overlay-box > div:first-child > div {
    position: absolute;
    /* margin-left: -5em; */
    right: -4.5em;
    display: grid;
}

table.table-overlay-box {
    width: 100%;
}

table.table-overlay-box tbody tr td {
    padding: .1em;
}

table.table-overlay-box legend
,table.table-overlay-box label {
    text-align: left;
}

table.table-overlay-box legend::before {
    content: '● ';
}

table.table-overlay-box span {
    margin-left: .5em;
    margin-right: .3em;
}

table.table-overlay-box tbody tr td.td-not-break {
    word-break: keep-all;
    white-space: nowrap;
    text-align: right;
    width: 15%;
}

table.table-overlay-box tbody tr td.td-view-box {
    padding-top: .3em;
    /* border-top: 2px dashed; */
}

table.table-overlay-box tbody tr td:nth-child(2n+0) {
    text-align: left;
    width: 35%;
}

div.div-customize-title-box {
    display: flex;
    margin-bottom: .2em;
}

div.div-customize-title-box > input
,div.div-customize-title-box > select {
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem !important;
}

div.div-overlay-box-add-items {
    overflow: auto;
    overflow-x: auto;
    max-height: 170px;
}

button.button-overlay-box-add-items {
    width: .5em;
    height: 2em;
}

button.button-overlay-box-add-items > svg {
    margin-top: -.7em;
    margin-left: -.5em;
}