div.div-overlay-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

div.div-overlay-box > div:first-child {
    border: 5px solid #dee2e6;
    border-radius: 1em;
    width: 40%;
    max-width: 40%;
    top: 10%;
    left: 30%;
    padding: .5em;
    display: inline-table;
    position: absolute;
}

div.div-overlay-box > div:first-child h4 {
    text-align: left;
}

div.div-overlay-box > div:first-child button {
    margin: .2em;
}

div.div-overlay-box > div:first-child > div {
    position: absolute;
    margin-left: -5em;
    display: grid;
}

table.table-overlay-box {
    width: 100%;
}

table.table-overlay-box tbody tr td {
    padding: .2em;
}

table.table-overlay-box legend
,table.table-overlay-box label {
    text-align: left;
}

table.table-overlay-box legend::before {
    content: 'â— ';
}

table.table-overlay-box span {
    margin-left: .5em;
    margin-right: .3em;
}

table.table-overlay-box tbody tr td.td-not-break {
    word-break: keep-all;
    white-space: nowrap;
    text-align: right;
}

table.table-overlay-box tbody tr td.td-view-box {
    padding-top: .3em;
    /* border-top: 2px dashed; */
}

table.table-overlay-box tbody tr td:nth-child(2n+0) {
    text-align: left;
}

div.div-customize-title-box {
    display: flex;
    margin-bottom: .2em;
}

div.div-customize-title-box > input
,div.div-customize-title-box > select {
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem !important;
}