div.div-header {
    height: 2.5em;
    margin-bottom: .3em;
    > nav {
        padding: 0 !important;
    
        > a {
            text-decoration: none;
            img {
                width: 2em;
                height: 2em;
            }
            span {
                padding: .3em;
                position: relative;
                bottom: -.5em;
                font-size: 120%;
            }
        }
        a:hover {
            text-decoration: none;
        }
        div.div-header-form {
            display: flex;
            right: 0;
            position: absolute;   
            > input
            ,> select {
                margin-top: .5em;
            }
        }
    }
}

div.div-left-menu-child {
    padding-left: .5em;
}

div.div-left-menu-child-hide {
    display: none;
    opacity: 0;
    transition: opacity 1s linear 0s;
}

div.div-left-menu-child-show {
    display: block;
    opacity: 1;
}

nav.bm-item-list {
    > a
    ,> div {
        width: 100%;
    }
    a:hover {
        background-color: rgba(0,0,0,0.075);
    }
    a.selected {
        background-color: #cce5ff;
    }
}