* {
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

*[draggable=true] nav
,*[draggable=true] a
,*[draggable=true] legend
,*[draggable=true] label {
    cursor: move;
}

*[draggable=true] nav:hover
,*[draggable=true] legend:hover
,*[draggable=true] label:hover {
    background-color: #cce5ff !important;
}

select {
    padding: 0.3em !important;
    margin-left: .1em;
    margin-right: .1em;
}

label.form-check-label
,label.form-check-label {
    width: 100%;
    background: transparent;
}

label.form-check-label:hover
,label.form-check-label:hover {
    color: gainsboro;
    cursor: pointer;
}

div._loading_overlay_wrapper {
    position: unset;
}

div.form-group {
    margin-bottom: 0;
}

div.div-time-box {
    display: inline-flex;
}

div.div-inline-box
,div.div-file-box {
    /* height: 81px; */
    height: 89px;
}

div.div-box-height-89 > div.checkboxes
,div.div-box-height-89 > div.field-radio-group
,div.div-box-height-89 > img
,div.div-box-height-89 > textarea {
    height: 37px;
}

div.div-box-height-178 > div.checkboxes
,div.div-box-height-178 > div.field-radio-group
,div.div-box-height-178 > img
,div.div-box-height-178 > textarea {
    height: 125px;
}

div.div-box-height-267 > div.checkboxes
,div.div-box-height-267 > div.field-radio-group
,div.div-box-height-267 > img
,div.div-box-height-267 > textarea {
    height: 215px;
}

div.div-box-height-356 > div.checkboxes
,div.div-box-height-356 > div.field-radio-group
,div.div-box-height-356 > img
,div.div-box-height-356 > textarea {
    height: 305px;
}

div.div-box-height-445 > div.checkboxes
,div.div-box-height-445 > div.field-radio-group
,div.div-box-height-445 > img
,div.div-box-height-445 > textarea {
    height: 395px;
}

div.div-box-height-89 div.div-table-body {
    height: 7px;
}

div.div-box-height-178 div.div-table-body {
    height: 95px;
}

div.div-box-height-267 div.div-table-body {
    height: 185px;
}

div.div-box-height-356 div.div-table-body {
    height: 275px;
}

div.div-box-height-445 div.div-table-body {
    height: 365px;
}

div.div-not-inline > div.checkboxes
,div.div-not-inline > div.field-radio-group {
    /* height: 119px; */
    overflow-y: auto;
    padding-left: .5em;
}

div.checkboxes > div.form-check {
    padding-right: .5em;
    padding-top: .3em;
}

div.div-inline > div.checkboxes
,div.div-inline > div.form-check-inline
,div.div-inline > div.field-radio-group {
    height: 38px;
    display: flex;
    overflow-x: auto;
    padding-left: .5em;
}

div.div-box textarea {
    /* height: 119px; */
    padding: .2em;
}

div.div-box label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.div-image-box {
    text-align: center;
}

div.div-image-box > label {
    text-align: left;
}

div.div-customize-table > div.div-table {
    margin-top: -0.5em;
}

/* 点滅 */
a.blinking
,button.blinking {
	-webkit-animation:blink .7s ease-in-out infinite alternate;
    -moz-animation:blink .7s ease-in-out infinite alternate;
    animation:blink .7s ease-in-out infinite alternate;
    color: red;
}
@-webkit-keyframes blink {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink {
    0% {opacity:0;}
    100% {opacity:1;}
}

body {
    overflow: hidden;
    padding: .2em;
}

/* object { */
    /* width: 240px; */
    /* height: 100%; */
    /* position: absolute;
    z-index: 15;
    display: none; */
/* } */

.required {
    color: red;
}

button svg {
    margin-top: -.2em;
    margin-right: .3em;
    /* vertical-align: text-top; */
}

a.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

form.rjsf > div.errors:first-child {
    display: none;
}

div.drag-and-drop {
    position: absolute;
    z-index: 1000;
    display: none;
}

div.drag-and-drop object {
    /* height:100vh;
    width: 100vh; */
    height: 100vh;
    position: absolute;
}

div.drag-and-drop button {
    cursor: pointer;
    margin-left: -.5em;
    margin-top: .5em;
    padding-left: .5em;
}

div.drag-and-drop button:hover {
    margin-left: -2em;
}

div.div-customize-actions {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: .2em;
    background: transparent;
    border: none;
}

div.div-customize-actions button {
    margin: 0;
    padding: .1em;
}

div.div-customize-actions svg {
    padding: 0;
    margin-left: .3em;
    margin-top: -.3em;
}

/* div.div-customize-actions-child {
    margin-top: 0;
    margin-top: -.1em;
} */

div.div-customize-actions-child button {
    font-size: 75%;
}

/* div.div-customize-actions button:last-child {
    margin-left: .2em;
} */
div.div-customize-actions button {
    margin-left: .2em;
}

div.form-group fieldset legend {
    padding-left: 0.5em;
    margin-bottom: 0;
    /* font-size: 1rem; */
    /* background-color: #cce5ff; */
}

div.form-group fieldset > div.div-top-box {
    float: left;
    /* padding-left: 0.2em;
    padding-right: 0.2em; */
}

div.form-group fieldset > div.div-top-box-50 {
    width: 50%;
}

div.form-group fieldset > div.div-top-box-100 {
    width: 100%;
}

div.form-group fieldset legend::before {
    content: '● ';
}

div.form-group fieldset div.div-box {
    /* height: 82px; */
    padding: 0.2em;
    float: left;
    margin: 0;
    border: 1px solid gainsboro;
}

div.form-group > label {
    width: 100%;
    background-color: gainsboro;
    /* padding-left: 0.2em; */
    padding: .3em;
    margin-bottom: .2em;
}

div.form-group fieldset > div.div-box > div ul.error-detail {
    position: absolute;
    list-style-type: none;
    margin-left: -3em;
    margin-top: -0.2em;
    font-size: 80%;
}

div.form-group fieldset > div.div-box > div ul.file-info {
    display: none;
    /* position: absolute;
    margin-top: -2.7em;
    margin-left: 8.5em;
    list-style-type: none; */
}

div.form-group fieldset div.div-box-not-view-label {
    height: 56px !important;
}

div.form-group fieldset div.div-box-not-view-label > label {
    display: none;
}

div.form-group fieldset div.div-box-25 {
    width: 25%;
}

div.form-group fieldset div.div-box-33 {
    width: 33.33333%;
}

div.form-group fieldset div.div-box-50 {
    width: 50%;
}

div.form-group fieldset div.div-box-75 {
    width: 75%;
}

div.form-group fieldset div.div-box-100 {
    width: 100%;
}

div.form-group fieldset div.div-box-height-89 {
    height: 89px;
}

div.form-group fieldset div.div-box-height-178 {
    height: 178px;
}

div.form-group fieldset div.div-box-height-267 {
    height: 267px;
}

div.form-group fieldset div.div-box-height-356 {
    height: 356px;
}

div.form-group fieldset div.div-box-height-445 {
    height: 445px;
}

div.form-group fieldset div.div-box-display-contents {
    height: 86px;
}

/* div.form-check-inline {
    height: 36px;
} */

div.form-group fieldset div.div-box-display-contents div.checkboxes div.form-check-inline:first-child {
    margin-left: 0.5em;
}

div.form-group fieldset div.div-box-checkbox {
    /* height: 56px; */
    padding-left: 0.5em;
}

div.form-group fieldset div.div-box span.range-view {
    float: right;
    margin-top: -1em;
}

div.form-group fieldset div.div-box-help-block-01 > p.help-block  {
    margin-top: 0.5em;
    font-size: 80%;
}

div.form-group fieldset div.div-box-help-block-02 > p.help-block  {
    margin-top: -0.5em;
    font-size: 80%;
}

div.form-group fieldset div.div-box-file > div  {
    margin-bottom: -7px;
}

div.dropdown-menu {
    max-width: 23%;
}

div.dropdown-menu a {
    cursor: pointer;
}

div.dropdown-menu a:hover {
    background-color: #cce5ff;
}

div.dropdown-menu a.dropdown-item svg {
    margin-right: 0.3em;
}

div.div-actions-box {
    display: flex;
    position: absolute;
    right: 0.5em;
}

/* div.div-actions-box {
    display: grid;
    padding: 0.2em;
    top: 20%;
    float: right;
    right: -4em;
    position: absolute;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    z-index: 1;
} */

/* div.div-actions-box:hover {
    right: 0;
} */

div.div-actions-box button {
    margin-right: 0.4em;
}

div.div-not-windown-actions-box {
    display: flex;
    top: .5em;
    position: absolute;
    right: .5em;
}
div.div-not-windown-actions-box button {
    margin: 0.2em;
}