$box-heights:(
    div-box-height-80: 80,
    div-box-height-160: 160,
    div-box-height-240: 240,
    div-box-height-320: 320,
    div-box-height-400: 400,
    div-box-height-480: 480,
    div-box-height-560: 560,
    div-box-height-640: 640,
    div-box-height-720: 720,
    div-box-height-800: 800,
);

$box-widths:(
    div-box-10: 10%,
    div-box-15: 15%,
    div-box-25: 25%,
    div-box-33: 33.33%,
    div-box-50: 50%,
    div-box-75: 75%,
    div-box-85: 85%,
    div-box-90: 90%,
    div-box-100: 100%,
);

@each $cls, $h in $box-heights {
    $idx: index($box-heights, $cls $h);
    div.#{$cls} {
        height: $h + 'px';
        position: relative;
    }
    div.#{$cls} {
        div.checkboxes
        ,div.field-radio-group
        ,> img
        ,> textarea {
            height: ($h - 42) + px;
        }
        > select {
            height: ($h - 42) + px !important;
        }
        > img {
            position: relative;
            top: .1em;
        }
        div.div-table-body {
            height: ($h - 77) + px;
            overflow: scroll;
        }
        div.div-table-header {
            overflow: scroll;
        }
        canvas {
            height: ($h - 48) + px !important;
            width: ($h - 48) + px !important;
            position: relative;
            top: .3em;
        }
        div.div-editor-box {
            height: ($h - 42) + px;
            div.DraftEditor-editorContainer {
                height: ($h - 85) + px !important;
                // border: 1px solid #ced4da;
            }
            div.rdw-link-modal {
                label {
                    padding: 0;
                    margin: 0;
                }
                input {
                    display: block;
                    width: 100%;
                    height: calc(1.5em + 0.75rem + 2px);
                    padding: 0.375rem 1rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                }
                label.rdw-link-modal-target-option {
                    display: none;
                }
            }
            div.rdw-fontsize-dropdown
            ,div.rdw-fontsize-wrapper
            ,div.rdw-colorpicker-wrapper {
                margin-bottom: 0;
            }
            div.rdw-block-wrapper
            ,div.rdw-fontfamily-wrapper
            ,div.rdw-list-dropdown
            ,div.rdw-text-align-dropdown
            ,div.rdw-remove-wrapper
            ,div.rdw-embedded-wrapper
            ,div.rdw-image-wrapper
            ,div.rdw-history-dropdown
            ,div.rdw-link-wrapper {
              display: none;
              padding: 0;
              margin: 0;
            }
            div.rdw-editor-main {
                margin-top: -.2em;
            }
            div.public-DraftStyleDefault-block {
                margin: 0;
            }
        }
        > div {
            > div.div-file-box
            ,> div.div-file-multiple-box {
                height: ($h - 42) + px;
                > div {
                    overflow: auto;
                    overflow-y: auto;
                    height: ($h - 80) + px;
                }
                > font {
                    padding: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: inline-block;
                    width: 100%;
                    cursor: pointer;
                    font-size: small;
                }
                > input[type=file] {
                    position: absolute;
                    top: 2.5em;
                    left: 0;
                    width: 100%;
                    cursor: pointer;
                    opacity: 0;
                }
                >div.div-btn-download {
                    margin-top: -2.3em;
                    > button {
                        margin: 0;
                        padding: .1em;
                        font-size: 80%;
                        position: absolute;
                        margin-top: .5em;
                        left: 1em;
        
                        > svg {
                            padding: 0;
                            margin-left: .3em;
                            margin-top: -.3em;
                        }
                    }
                }
                table {
                    width: 100%;
                    tbody {
                        tr {
                            td {
                                button {
                                    margin: 0;
                                    padding: .1em;
                                    font-size: 80%;
                    
                                    > svg {
                                        padding: 0;
                                        margin-left: .3em;
                                        margin-top: -.3em;
                                    }
                                }                
                            }
                            td:first-child
                            ,td:last-child {
                                width: 1em;
                            }
                            td:nth-child(2) {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                max-width: 100px;
                            }
                            td:nth-last-child(2) {
                                width: 4em;
                            }
                        }
                    }
                }
            }
            > div.div-paging-box {
                display: inline-flex;
                position: absolute;
                right: .5em;
                top: .2em;
                > div.div-count-per {
                    display: inline-flex;
                    > select {
                        font-size: 80%;
                    }
                    > span {
                        padding-left: .2em;
                        padding-right: .2em;
                        margin-top: .3em;
                    }
                }
                > ul {
                    font-size: 80%;
                }
            }
            > div.div-file-box {
                > font {
                    height: ($h - 42) + px;
                }
                > input[type=file] {
                    height: 100%;
                }
            }
            > div.div-file-multiple-box {
                font {
                    height: 38px;
                }
            }
            div._loading_overlay_content {
                font-size: 80%;
            }
            div._loading_overlay_spinner {
                margin-bottom: 0;
            }
        }
    }
}

@each $cls, $w in $box-widths {
    div.#{$cls} {
        width: $w;
    }
}

// button.btn-create-div {
//     position: absolute;
//     right: 13.6em;
//     margin-bottom: .2em;
//     margin-top: .3em;
// }

// button.btn-create-tab {
//     position: absolute;
//     right: 9.5em;
//     margin-bottom: .2em;
//     margin-top: .3em;
// }

div.form-group {
    > label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;    
        width: 100%;
        background-color: gainsboro;
        padding: .3em;
        margin-bottom: -.3em;
    }
}

div.div-context-menu {
    position: absolute;
    > div {
        padding: .5rem 0;
        margin: .125rem 0 0;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        > a {
            display: flex;
            word-break: keep-all;
            cursor: pointer;
            > svg {
                margin-right: 0.3em;
                margin-top: 0.2em;
            }
        }
        > a:hover {
            background: #f8f9fa;
        }
    }
}

div.div-list-box {
    position: relative;
    > div.div-title-box {
        display: inline-flex;
        height: 3em;
        margin-top: .3em;
        > h5 {
            margin-top: .3em;
        }
        > h5::before {
            content: 'â—';
        }
        > button {
            position: absolute;
            right: .5em;
            top: .2em;
        }
    }
    div.div-paging-box {
        display: inline-flex;
        position: absolute;
        right: 7em;
        top: .5em;
        > div.div-count-per {
            display: inline-flex;
            > select {
                font-size: 80%;
            }
            > span {
                padding-left: .2em;
                padding-right: .2em;
                margin-top: .3em;
            }
        }
        > ul {
            font-size: 80%;
        }
    }
    div.div-table-body
    ,div.div-table-header {
        overflow: scroll;
    }
}

div.div-actions-box {
    display: flex;
    position: absolute;
    right: 0;
    margin-bottom: .2em;
    margin-top: .3em;
}

div.div-right-box {
    input[type="range"] {
        padding: 0;
    }
}