div.div-menu-right {
  top: 3em;
  border: 1px solid #dee2e6;
  z-index: 10 !important;
}

div.div-menu-right div.box-title {
  text-align: center;
  padding-top: .3em;
  font-weight: bold;
}

div.box-title input[type='file'] {
  display: none;
  /* position: absolute;
  z-index: -1; */
}

div.div-menu-right > div > nav > div {
  width: 100%;
  margin-bottom: .5em;
}

div.div-menu-right > div > nav > div:last-child {
  height: 100%;
  overflow-y: hidden;
}

div.div-menu-right + div > div.bm-burger-button {
  /* z-index: 150 !important; */
  color: #007bff !important;
  right: 0.5em !important;
  top: 3.5em !important;
  display: none;
}

div.div-menu-right div.public-DraftEditor-content {
  height: 120px;
  max-height: 120px;
  overflow-y: auto;
}

div.div-menu-right div.public-DraftStyleDefault-block {
  margin: .2em;
}

div.div-menu-right div.rdw-colorpicker-modal {
  top: -175px;
  left: -145px;
  padding: .2em;
}

div.div-menu-right div.rdw-link-modal
,div.div-menu-right div.rdw-emoji-modal
,div.div-menu-right div.rdw-embedded-modal
,div.div-menu-right div.rdw-image-modal {
  top: -185px;
  left: -200px;
  padding: .2em;
}

div.div-menu-right div.rdw-link-modal {
  height: 230px;
}

div.div-menu-right ul.rdw-dropdown-optionwrapper {
  max-height: 150px;
}

div.rdw-fontsize-dropdown
,div.rdw-fontsize-wrapper
,div.rdw-colorpicker-wrapper {
  margin-bottom: 0;
}

div.rdw-inline-dropdown
,div.rdw-link-wrapper {
  margin-top: .3em;
}

div.div-menu-right div.div-chat-box div.rdw-block-wrapper
,div.div-menu-right div.div-chat-box div.rdw-fontfamily-wrapper
,div.div-menu-right div.div-chat-box div.rdw-list-dropdown
,div.div-menu-right div.div-chat-box div.rdw-text-align-dropdown
,div.div-menu-right div.div-chat-box div.rdw-remove-wrapper
,div.div-menu-right div.div-chat-box div.rdw-embedded-wrapper
,div.div-menu-right div.div-chat-box div.rdw-image-wrapper
,div.div-menu-right div.div-chat-box div.rdw-history-dropdown {
  display: none;
  margin: 0;
  padding: 0;
}

div.div-margin-right-22 {
  margin-right: 22%;
}

div.div-chat-box {
  margin: .2em;
  /* height: calc(100% - 185px); */
  overflow-y: auto;
}

div.div-chat-box > div:first-child {
  padding-right: .5em;
}

div.div-chat-box > div:first-child div.box-right {
  text-align: right;
  display: flow-root;
}

div.div-chat-box > div:first-child > div {
  margin-bottom: .2em;
}

div.div-chat-box > div:first-child div.box-right > table {
  max-width: 85%;
  float: right;
}

div.div-chat-box > div:first-child span {
  font-size: 80%;
}

div.div-chat-box > div:first-child svg:hover {
  cursor: pointer;
}

div.div-chat-box > div:first-child div.box-msg {
  width: 100%;
  border: 1px solid #dee2e6;
  padding-right: .2em;
  padding-left: .2em;
  border-radius: .3em;
}

div.div-chat-box > div:first-child div.box-left {
  text-align: left;
}

div.div-chat-box > div:last-child {
  position: absolute;
  bottom: 2em;
  width: 98%;
  height: 200px;
  max-height: 200px;
}

div.div-chat-box > div:last-child > div:first-child {
  position: absolute;
  margin-top: -1.5em;
}

div.div-chat-box > div:last-child > span:hover {
  cursor: pointer;
  background-color: #cce5ff;
}

div.div-chat-box div.box-msg > p {
  margin-bottom: 0;
}

div.div-chat-box > div:last-child > span:nth-last-child(2) {
  float: right;
}