div.div-tree-view-box ul {
  list-style: none;
  padding: 0;
}

div.div-tree-view-box > ul > li:not(:nth-child(0)) {
  margin-top: .5em;
}

div.div-tree-view-box ul li.parent > div:first-child {
  font-weight: bold;
}

div.div-tree-view-box ul > li ul {
  padding-left: .7em;
}

div.div-tree-view-box > ul div {
  cursor: pointer;
  line-height: 2em;
}

div.div-tree-view-box > ul div {
  padding-left: .7em;
}

div.div-tree-view-box > ul div.selected {
  border-left: .3em solid;
  border-color: #2a9fd685;
}

div.div-tree-view-box > ul div:hover {
  background-color: #2a9fd685;
}